@mixin base {
    color: $white;
    text-decoration: none;
    display: block;
    padding: 10px;
    // margin: 10px;
    text-align: center;
    transition: color 0.2s;
    font-size: 20px;

    &:hover {
        color: $yellow;
    }
}

&__link {
    @include base;
}