@mixin base {
    color: #d8762d;
    text-decoration: none;
    display: block;
    padding: 10px;
    // margin: 10px;
    text-align: center;
    transition: color 0.2s;
    font-size: 22px;
    font-variant: small-caps;

    &:hover {
        color: #d8762d;
    }
}

&__link {
    @include base;
}