@mixin base {   
    flex-basis: 50%;
    flex-grow: 0;
    margin-bottom: 60px;
    
    @media screen and (min-width: 768px) {
        margin-right: 35px;
    }
}

.bio {
    @include base;

    @import 'heading';
}