@mixin base {
    font-variant: small-caps;

    &::after {
        content: '';
        border-bottom: 1px solid $white;
        width: 90%;
        display: block;
    }
}

&__heading {
    @include base;
}