@mixin base {
    max-width: 1000px; // change this to something real when you get it working
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    @include base;
}