@mixin base {
    padding: 0 40px;
    // background-image: url('../../../assets/band-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        padding: 0 100px;
    }
}

.page-wrapper {
    @include base;
}