@mixin base {
    min-height: 95vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    @include base;

    @import 'inner';
}

.panel-1 {
    background-image: url('https://rebekahpadula.github.io/my-website/assets/under-the-sun/under-the-sun.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 24vh;
    background-position: top;

    @media screen and (min-width: 450px) {
        min-height: 27vh;
    }

    @media screen and (min-width: 500px) {
        min-height: 30vh;
    }

    @media screen and (min-width: 550px) {
        min-height: 33vh;
    }

    @media screen and (min-width: 600px) {
        min-height: 36vh;
    }

    @media screen and (min-width: 650px) {
        min-height: 40vh;
    }

    @media screen and (min-width: 700px) {
        min-height: 43vh;
    }

    @media screen and (min-width: 800px) {
        min-height: 49vh;
    }

    @media screen and (min-width: 900px) {
        min-height: 55vh;
    }

    @media screen and (min-width: 1000px) {
        min-height: 60vh;
    }

    @media screen and (min-width: 1045px) {
        min-height: 65vh;
    }

    @media screen and (min-width: 1200px) {
        min-height: 74vh;
    }

    @media screen and (min-width: 1300px) {
        min-height: 80vh;
    }

    @media screen and (min-width: 1450px) {
        min-height: 89vh;
    }
}

.panel-2 {
    background-color: #fefdfc;
    color: white;
    background: linear-gradient(to bottom right, rgb(240, 203, 53) 5%, rgb(192, 36, 37) 70%, rgb(86, 20, 176) 99%);
}

.panel-2 .panel__inner {
    width: 100%;
    
    @media screen and (min-width: 1050px) {
        display: flex;
    }
}

.panel-3 {

}

.panel-3 .panel__inner {
    width: 100%;
    
    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
        align-items: center;
    }
}

.panel-4 {
    background-color: #fefdfc;
}