@mixin base {
    min-height: 95vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    @include base;

    @import 'inner';
}

.panel-1 {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../../assets/under-the-sun/under-the-sun-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.panel-2 {
    background-color: #fefdfc;
    color: white;
    background: linear-gradient(to bottom right, rgb(192, 36, 37), rgb(240, 203, 53));
}

.panel-2 .panel__inner {
    width: 100%;
    
    @media screen and (min-width: 1050px) {
        display: flex;
    }
}

.panel-3 {
    background-color: #fefdfc;
    // background: linear-gradient(to bottom right, rgb(192, 36, 37), #4916b6);
}

.panel-3 .panel__inner {
    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
    }
}

.panel-4 {
    background-color: #fefdfc;
}