@mixin base {
    min-height: 95vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    @include base;

    @import 'inner';
}

.panel-1 {
    background-image: url('https://rebekahpadula.github.io/my-website/assets/under-the-sun/under-the-sun.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 35vh;
    background-position: center;

    @media screen and (min-width: 450px) {
        min-height: 38vh;
    }

    @media screen and (min-width: 500px) {
        min-height: 42vh;
    }

    @media screen and (min-width: 550px) {
        min-height: 45vh;
    }

    @media screen and (min-width: 600px) {
        min-height: 48vh;
    }

    @media screen and (min-width: 650px) {
        min-height: 52vh;
    }

    @media screen and (min-width: 700px) {
        min-height: 55.5vh;
    }

    @media screen and (min-width: 768px) {
        min-height: 59vh;
    }

    @media screen and (min-width: 800px) {
        min-height: 61vh;
    }

    @media screen and (min-width: 900px) {
        min-height: 65vh;
    }

    @media screen and (min-width: 1000px) {
        min-height: 74.5vh;
    }

    @media screen and (min-width: 1100px) {
        min-height: 80vh;
    }

    @media screen and (min-width: 1200px) {
        min-height: 86vh;
    }

    @media screen and (min-width: 1300px) {
        min-height: 90vh;
        background-size: cover;
    }

    @media screen and (min-width: 1400px) {
        min-height: 100vh;
    }
}

.panel-2 {
    background-color: #fefdfc;
    color: white;
    background: linear-gradient(to bottom right, rgb(240, 203, 53) 5%, rgb(192, 36, 37) 70%, rgb(86, 20, 176) 99%);
}

.panel-2 .panel__inner {
    width: 100%;
    
    @media screen and (min-width: 1050px) {
        display: flex;
    }
}

.panel-3 {

}

.panel-3 .panel__inner {
    width: 100%;
    
    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
        align-items: center;
    }
}

.panel-4 {
    background-color: #fefdfc;
}