@mixin base {
    flex-basis: 50%;
    align-self: center;
    margin-right: 35px;
    // display: flex;
}

.contact {
    @include base;

    @import 'item';
    @import 'icon';
    @import 'link';
}