@mixin base {
    max-height: 100px;
    height: 100%;
    width: 100%;
}

&__icon {
    @include base;

    &:hover {
        fill: red !important;
    }
}

.contact__icon--instagram {
    max-height: 125px;
}