@mixin base {
    padding: 20px 80px;
    background-color: #111;
    background-image: url('../../../assets/band-photo.jpg');
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;

    @include escape-container;

}

.page-content {
    @include base;
}