@import 'mixins';
@import 'vars';

@import 'components/page-header/page-header';
@import 'components/primary-nav/primary-nav';
@import 'components/page-wrapper/page-wrapper';
@import 'components/page-content/page-content';
@import 'components/bio/bio';
@import 'components/card/card';
@import 'components/shows/shows';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    font-family: Open Sans;
    font-size: 18px;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}