@import 'mixins';
@import 'vars';

@import 'components/page-wrapper/page-wrapper';
@import 'components/primary-nav/primary-nav';
@import 'components/panel/panel';
@import 'components/panel/inner';
@import 'components/page-header/page-header';
@import 'components/bio/bio';
@import 'components/gallery/gallery';
@import 'components/shows/shows';
@import 'components/contact/contact';
@import 'components/footer/footer';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    font-family: Open Sans;
    font-size: 18px;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

a {
    color: $white;
}

.beginning {
    font-size: 65px;
    color: white;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        font-size: 80px;
    }
}

.middle {
    font-size: 50px;
    color: $orange;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 35px;

    @media screen and (min-width: 543px) {
        display: inline;
    }

    @media screen and (min-width: 768px) {
        font-size: 60px;
    }
}

.end {
    margin-top: 45;
    font-size: 65px;
    color: white;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        font-size: 95px;
    }
}


@keyframes bounce {
    0% {
        top: 180px;
    }

    50% {
        top: 220px;
    }

    100% {
        top: 180px;
    }
}

.arrow {
    display: none;
    position: absolute;
    top: 180px;
    height: 60px;
    width: 60px;
    animation: bounce 2s infinite;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}