@import 'mixins';

@import 'components/page-wrapper/page-wrapper';
@import 'components/primary-nav/primary-nav';
@import 'components/page-content/page-content';



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
}

ul {
    padding: 0;
    margin: 0;
}